.meus-filmes{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meus-filmes h1{
 margin-bottom: 14px;   
}

.meus-filmes span{
    font-size: 18px;
}

.meus-filmes ul{
    width: 720px;
}

.meus-filmes ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -1px;
}

.meus-filmes div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.meus-filmes div a{
    text-decoration: none;
    color: #116feb;
    margin-right: 14px;
}
.meus-filmes button{
    margin-right: 12px;    
    margin-left: 0;
    font-size: 15px;
    border: 0;
    outline: none;
    padding: 5px;
    border-radius: 50%;
    width: 29px;
    cursor: pointer;
    transition: all 0.5s;
    background-color: red;
    color: #fff;
}
.meus-filmes button:hover{
    background-color: brown;
}

.w3-border{
border: 1px solid #ccc!important;
}
.w3-ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.w3-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}