.lista-filme{
    max-width: 800px;
    margin: 14px auto;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}
.lista-filme article{
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    background-color: #fefae0;
}

.lista-filme strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}

.lista-filme img{
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.lista-filme a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    background-color: #264653; 
    text-decoration: none;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.lista-filme a:hover{
    background-color: #335c67;
}